{% extends 'layout/layout.twig' %}
{% set active_page = 'employee' %}
{% set title = 'Сотрудники' %}

{% block content %}
    <a href="/employee/create" class="btn btn-primary mb-2">Добавить сотрудника</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Пол</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Зарплата</th>
                <th scope="col">Отдел</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата редактирования</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.LastName }}</td>
                    <td>{{ employee.getFormatGender }}</td>
                    <td>{{ employee.getBirthday('Y-m-d') }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>{{ employee.department.name }}</td>
                    <td>{{ employee.getCreatedAt('Y-m-d H:i:s') }}</td>
                    <td>{{ employee.getUpdatedAt('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="/employee/{{ employee.id }}/project" title="Проекты сотрудника" class="text-decoration-none">
                            <span data-feather="layers"></span>
                        </a>
                        <a href="/employee/update/{{ employee.id }}" title="Редактировать" class="ml-2 text-decoration-none">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="/employee/delete/{{ employee.id }}" title="Удалить" class="ml-2 text-decoration-none"
                           data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <span data-feather="trash-2"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-warning">
                    Сотрудников не найдено
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}