{% extends 'layout/layout.twig' %}
{% set active_page = 'project' %}
{% set title = 'Проекты' %}

{% block content %}
    <a href="/project/create" class="btn btn-primary mb-2">Добавить проект</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Дата редактирования</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.getCreatedAt('Y-m-d H:i:s') }}</td>
                    <td>{{ project.getUpdatedAt('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="/project/{{ project.id }}/employee" title="Сотрудники проекта" class="text-decoration-none">
                            <span data-feather="users"></span>
                        </a>
                        <a href="/project/update/{{ project.id }}" title="Редактировать" class="ml-2 text-decoration-none">
                            <span data-feather="edit"></span>
                        </a>
                        <a href="/project/delete/{{ project.id }}" title="Удалить" class="ml-2 text-decoration-none"
                           data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <span data-feather="trash-2"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-warning">
                    Проектов не найдено
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}